In [138]:
import pandas as pd

In [139]:
df_pop = pd.read_csv('FAOSTAT_data-pop.csv', encoding='latin')

df_veg = pd.read_csv('FAOSTAT_data-veg.csv', encoding='latin')

df_anim = pd.read_csv('FAOSTAT_data-anim.csv', encoding='latin')

In [140]:
df_veg.head()

,ï»¿Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2018,2018,kg,160.12,Fc,Calculated data
1,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2019,2019,kg,161.93,Fc,Calculated data
2,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2018,2018,kcal/capita/day,1372.00,Fc,Calculated data
3,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2019,2019,kcal/capita/day,1387.00,Fc,Calculated data
4,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2511,Wheat and products,2018,2018,g/capita/day,37.00,Fc,Calculated data

## Nettoyer les titres de colonnes

In [141]:
df_pop.columns = df_pop.columns.str.strip().str.lower().str.replace(' ', '_')
df_veg.columns = df_veg.columns.str.strip().str.lower().str.replace(' ', '_')
df_anim.columns = df_anim.columns.str.strip().str.lower().str.replace(' ', '_')

## Quelle est la dimension des jeux de données ?

In [142]:
print(df_pop.shape)
print(df_veg.shape)
print(df_anim.shape)

(358, 14)
(91068, 14)
(30897, 14)

## A quoi ressemblent les 5 premières lignes de mes jeux de données ?

In [143]:
df_pop.head()

,ï»¿domain_code,domain,area_code_(fao),area,element_code,element,item_code,item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,37172.0,*,Unofficial figure
1,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,38042.0,*,Unofficial figure
2,FBS,Food Balances (2010-),3,Albania,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,2883.0,*,Unofficial figure
3,FBS,Food Balances (2010-),3,Albania,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,2881.0,*,Unofficial figure
4,FBS,Food Balances (2010-),4,Algeria,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,42228.0,*,Unofficial figure

In [144]:
df_veg.head()

,ï»¿domain_code,domain,area_code_(fao),area,element_code,element,item_code,item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2018,2018,kg,160.12,Fc,Calculated data
1,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2019,2019,kg,161.93,Fc,Calculated data
2,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2018,2018,kcal/capita/day,1372.00,Fc,Calculated data
3,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2019,2019,kcal/capita/day,1387.00,Fc,Calculated data
4,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2511,Wheat and products,2018,2018,g/capita/day,37.00,Fc,Calculated data

In [145]:
df_anim.head()

,ï»¿domain_code,domain,area_code_(fao),area,element_code,element,item_code,item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2731,Bovine Meat,2018,2018,kg,2.62,Fc,Calculated data
1,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2731,Bovine Meat,2019,2019,kg,2.65,Fc,Calculated data
2,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2731,Bovine Meat,2018,2018,kcal/capita/day,15.00,Fc,Calculated data
3,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2731,Bovine Meat,2019,2019,kcal/capita/day,16.00,Fc,Calculated data
4,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2731,Bovine Meat,2018,2018,g/capita/day,1.09,Fc,Calculated data

## Pour les datasets df_anim et df_veg, ajoutez une colonne ‘type’ qui prendra respectivement une valeur ‘animal product’ et ‘vegetal_product’. Une fois cette étape effectuée, regroupez les deux jeux de données en 1 et appelez ce DataFrame product. Attention à bien comprendre la structure des données pour utiliser la bonne méthode.

In [146]:
df_veg['type'] = 'vegetal'
df_anim['type'] = 'animal'

In [147]:
products = pd.concat([df_veg, df_anim])

## Transformez df_pop afin de ne garder que le code du pays, le pays, l’année et la population

In [148]:
df_pop.head()

,ï»¿domain_code,domain,area_code_(fao),area,element_code,element,item_code,item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,37172.0,*,Unofficial figure
1,FBS,Food Balances (2010-),2,Afghanistan,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,38042.0,*,Unofficial figure
2,FBS,Food Balances (2010-),3,Albania,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,2883.0,*,Unofficial figure
3,FBS,Food Balances (2010-),3,Albania,511,Total Population - Both sexes,2501,Population,2019,2019,1000 persons,2881.0,*,Unofficial figure
4,FBS,Food Balances (2010-),4,Algeria,511,Total Population - Both sexes,2501,Population,2018,2018,1000 persons,42228.0,*,Unofficial figure

In [149]:
df_pop = df_pop[['area_code_(fao)', 'area', 'year', 'value']]

In [150]:
df_pop.columns = ['area_code_(fao)', 'area', 'year', 'pop_1000_hab']

## Transformez products afin de ne garder que les colonnes area_code, area, element, item, year, type, unit.

In [151]:
products

,ï»¿domain_code,domain,area_code_(fao),area,element_code,element,item_code,item,year_code,year,unit,value,flag,flag_description,type
0,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2018,2018,kg,160.12,Fc,Calculated data,vegetal
1,FBS,Food Balances (2010-),2,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2019,2019,kg,161.93,Fc,Calculated data,vegetal
2,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2018,2018,kcal/capita/day,1372.00,Fc,Calculated data,vegetal
3,FBS,Food Balances (2010-),2,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2019,2019,kcal/capita/day,1387.00,Fc,Calculated data,vegetal
4,FBS,Food Balances (2010-),2,Afghanistan,674,Protein supply quantity (g/capita/day),2511,Wheat and products,2018,2018,g/capita/day,37.00,Fc,Calculated data,vegetal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30892,FBS,Food Balances (2010-),181,Zimbabwe,664,Food supply (kcal/capita/day),2775,Aquatic Plants,2019,2019,kcal/capita/day,0.00,Fc,Calculated data,animal
30893,FBS,Food Balances (2010-),181,Zimbabwe,674,Protein supply quantity (g/capita/day),2775,Aquatic Plants,2018,2018,g/capita/day,0.00,Fc,Calculated data,animal
30894,FBS,Food Balances (2010-),181,Zimbabwe,674,Protein supply quantity (g/capita/day),2775,Aquatic Plants,2019,2019,g/capita/day,0.00,Fc,Calculated data,animal
30895,FBS,Food Balances (2010-),181,Zimbabwe,684,Fat supply quantity (g/capita/day),2775,Aquatic Plants,2018,2018,g/capita/day,0.00,Fc,Calculated data,animal
30896,FBS,Food Balances (2010-),181,Zimbabwe,684,Fat supply quantity (g/capita/day),2775,Aquatic Plants,2019,2019,g/capita/day,0.00,Fc,Calculated data,animal

In [152]:
products = products[['area_code_(fao)', 'area', 'element', 'item', 'year', 'type', 'value']]

In [153]:
df_pop

     area_code_(fao)         area  year  pop_1000_hab
0                  2  Afghanistan  2018       37172.0
1                  2  Afghanistan  2019       38042.0
2                  3      Albania  2018        2883.0
3                  3      Albania  2019        2881.0
4                  4      Algeria  2018       42228.0
..               ...          ...   ...           ...
353              249        Yemen  2019       29162.0
354              251       Zambia  2018       17352.0
355              251       Zambia  2019       17861.0
356              181     Zimbabwe  2018       14439.0
357              181     Zimbabwe  2019       14645.0

[358 rows x 4 columns]

## Fusionnez df_pop avec product et nommez ce DataFrame df.

In [154]:
df = pd.merge(df_pop, products, on=['area', 'area_code_(fao)', 'year'])
df.head()

,area_code_(fao),area,year,pop_1000_hab,element,item,type,value
0,2,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Wheat and products,vegetal,160.12
1,2,Afghanistan,2018,37172.0,Food supply (kcal/capita/day),Wheat and products,vegetal,1372.00
2,2,Afghanistan,2018,37172.0,Protein supply quantity (g/capita/day),Wheat and products,vegetal,37.00
3,2,Afghanistan,2018,37172.0,Fat supply quantity (g/capita/day),Wheat and products,vegetal,4.59
4,2,Afghanistan,2018,37172.0,Food supply quantity (kg/capita/yr),Rice and products,vegetal,19.78

In [155]:
df.columns = ['code_country', 'country', 'year', 'pop_1000_hab', 'element', 'item',
       'type', 'value']

## Quelles sont les types de données de chaque colonne ? Si certains types de données ne sont pas dans la bonne catégorie, modifiez leur type.

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121613 entries, 0 to 121612
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   code_country  121613 non-null  int64
 1   country       121613 non-null  object
 2   year          121613 non-null  int64
 3   pop_1000_hab  121613 non-null  float64
 4   element       121613 non-null  object
 5   item          121613 non-null  object
 6   type          121613 non-null  object
 7   value         121613 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 8.4+ MB

In [157]:
#df['code_country'] = df['code_country'].astype('category')

## Combien y-a t’il de valeurs manquantes par variable ?

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121613 entries, 0 to 121612
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   code_country  121613 non-null  int64
 1   country       121613 non-null  object
 2   year          121613 non-null  int64
 3   pop_1000_hab  121613 non-null  float64
 4   element       121613 non-null  object
 5   item          121613 non-null  object
 6   type          121613 non-null  object
 7   value         121613 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 8.4+ MB

## Est-ce qu’il y a des valeurs aberrantes ? (population négative, etc.) Utilisez un récapitulatif statistique pour répondre à cette question.

In [159]:
df_pop.describe()

       area_code_(fao)       year  pop_1000_hab
count       358.000000   358.0000  3.580000e+02
mean        127.407821  2018.5000  4.252883e+04
std          73.175022     0.5007  1.516993e+05
min           1.000000  2018.0000  5.200000e+01
25%          66.250000  2018.0000  2.821000e+03
50%         123.000000  2018.5000  9.758265e+03
75%         190.500000  2019.0000  3.071200e+04
max         276.000000  2019.0000  1.433784e+06

## Affichez les valeurs uniques de la colonne ‘area’

In [160]:
df.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', "C?te d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'T?rkiye', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

## Modifiez votre jeu de données afin que les informations soient indexées par area_country, country, year, pop_1000_hab, type et item. Les valeurs de la colonne element doivent être séparées dans des colonnes différentes. Recherchez sur internet la différence entre les formats long et les formats wide.

In [161]:
df = df.reset_index()

In [162]:
x = df.sample(10)

In [168]:
import numpy as np 
data = pd.pivot_table(df,
    index=["code_country", 'country', 'item',  'pop_1000_hab', 'type', 'year'],
    columns = "element", values="value", aggfunc=np.sum)

In [175]:
data = data.reset_index()
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_')
data.head()

element,index,code_country,country,item,pop_1000_hab,type,year,fat_supply_quantity_(g/capita/day),food_supply_(kcal/capita/day),food_supply_quantity_(kg/capita/yr),protein_supply_quantity_(g/capita/day)
0,0,1,Armenia,Apples and products,2952.0,vegetal,2018,0.12,20.0,14.49,0.05
1,1,1,Armenia,Apples and products,2958.0,vegetal,2019,0.13,21.0,16.02,0.05
2,2,1,Armenia,"Aquatic Animals, Others",2952.0,animal,2018,0.00,0.0,0.00,0.00
3,3,1,Armenia,"Aquatic Animals, Others",2958.0,animal,2019,0.00,0.0,0.00,0.00
4,4,1,Armenia,Aquatic Plants,2952.0,animal,2018,0.00,0.0,0.00,0.00

In [179]:
data[data['year'] == 2018]

element,index,code_country,country,item,pop_1000_hab,type,year,fat_supply_quantity_(g/capita/day),food_supply_(kcal/capita/day),food_supply_quantity_(kg/capita/yr),protein_supply_quantity_(g/capita/day)
0,0,1,Armenia,Apples and products,2952.0,vegetal,2018,0.12,20.0,14.49,0.05
2,2,1,Armenia,"Aquatic Animals, Others",2952.0,animal,2018,0.00,0.0,0.00,0.00
4,4,1,Armenia,Aquatic Plants,2952.0,animal,2018,0.00,0.0,0.00,0.00
6,6,1,Armenia,Bananas,2952.0,vegetal,2018,0.06,13.0,7.61,0.15
8,8,1,Armenia,Barley and products,2952.0,vegetal,2018,0.03,6.0,0.72,0.20
...,...,...,...,...,...,...,...,...,...,...,...
30568,30568,276,Sudan,Tomatoes and products,41802.0,vegetal,2018,0.09,8.0,14.83,0.38
30570,30570,276,Sudan,"Vegetables, other",41802.0,vegetal,2018,0.13,17.0,25.88,0.79
30572,30572,276,Sudan,Wheat and products,41802.0,vegetal,2018,1.68,549.0,63.20,16.43
30574,30574,276,Sudan,Wine,41802.0,vegetal,2018,0.00,0.0,0.00,0.00
30576,30576,276,Sudan,Yams,41802.0,vegetal,2018,0.02,12.0,4.20,0.15

## Bonus : création d'un jeu de données qui contient les codes pays et leur zone géographique

In [201]:
world = ['eastern_africa', 'middle_africa', 'northern_africa', 'southern_africa', 'western_africa', 'northern_america',
 'central_america', 'caribbean', 'south_america', 'central_asia', 'eastern_asia', 'southern_asia',
 'south_eastern_asia', 'western_asia', 'eastern_europe', 'northern_europe',
 'southern_europe', 'western_europe', 'australia_new_zealand', 'melanesia', 'micronesia', 'polynesia'
]


def transform_data(filename=None) :
    """
    Charge un jeu de données.

    Args:
        param1: This is the first param.
        param2: This is a second param.

    Returns:
        A DataFrame.

    Raises:
        KeyError: Raises an exception.
    """
    df = pd.read_csv('geo_zone/'+filename+".csv", usecols=["Area Code (FAO)"])
    df['zone'] = filename
    return df


def aggregate_df(list_filename = world) :
    list_df = []
    for zone in world :
        temp = transform_data(zone)
        list_df.append(temp)
    df = pd.concat(list_df)
    df.columns = ['code_country', 'zone']
    return df

In [216]:
zone = aggregate_df()

In [219]:
len(data.code_country.unique())

179

In [220]:
data = pd.merge(zone, data, on='code_country')

In [223]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30578 entries, 0 to 30577
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   code_country                            30578 non-null  int64
 1   zone                                    30578 non-null  object
 2   index                                   30578 non-null  int64
 3   country                                 30578 non-null  object
 4   item                                    30578 non-null  object
 5   pop_1000_hab                            30578 non-null  float64
 6   type                                    30578 non-null  object
 7   year                                    30578 non-null  int64
 8   fat_supply_quantity_(g/capita/day)      30359 non-null  float64
 9   food_supply_(kcal/capita/day)           30319 non-null  float64
 10  food_supply_quantity_(kg/capita/yr)     30578 non-null  float64
 11  protein_supply_quantity_(g/capita/day)  30357 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 3.0+ MB

In [224]:
data.head()

,code_country,zone,index,country,item,pop_1000_hab,type,year,fat_supply_quantity_(g/capita/day),food_supply_(kcal/capita/day),food_supply_quantity_(kg/capita/yr),protein_supply_quantity_(g/capita/day)
0,29,eastern_africa,3274,Burundi,Apples and products,11175.37,vegetal,2018,0.00,0.0,0.01,0.00
1,29,eastern_africa,3275,Burundi,Apples and products,11530.58,vegetal,2019,0.00,0.0,0.01,0.00
2,29,eastern_africa,3276,Burundi,Aquatic Plants,11175.37,animal,2018,0.00,0.0,0.00,0.00
3,29,eastern_africa,3277,Burundi,Aquatic Plants,11530.58,animal,2019,0.00,0.0,0.00,0.00
4,29,eastern_africa,3278,Burundi,Bananas,11175.37,vegetal,2018,0.27,164.0,99.63,2.73